.main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-bottom: 1px solid var(--bulma-border);
  padding: 1.25rem;
}

.side {
  width: 15rem;
}

.swatch {
  background-color: hsl(var(--h) var(--s) var(--l));
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  flex-shrink: 0;
}

.name {
  gap: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.name p {
  color: var(--bulma-text-strong);
  font-size: 1.25em;
  font-weight: 600;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.line {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.line p {
  color: var(--bulma-text-strong);
  width: 6rem;
}
