.main {
  padding: 0.5rem;
}

.body {
  padding: 0.5rem 1rem ;
}

.body :global(.title) {
  margin-bottom: 0;
}

.explanation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    flex-wrap: nowrap;
  }
}
