.main {
  padding: 0.5rem;
}

.body {
  padding: 0.5rem 1rem;
}

.body :global(.title) {
  margin-bottom: 0.25rem;
}

.explanation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    padding: 3px 0;
  }

  div {
    flex-wrap: nowrap;
  }
}

.go {
  margin-top: 0.5rem;
}

.pre {
  background-color: var(--gh-dark);
  margin: 0.5rem -0.5rem;
  color: var(--gh-text);
  font-size: 1rem;
}
