// Containers

.hero-head,
.hero-foot
  flex-grow: 0
  flex-shrink: 0

.hero-body
  flex-grow: 1
  flex-shrink: 0
  padding: 1.5rem
  // Responsiveness
  +from($widescreen)
    padding-left: 0
    padding-right: 0

// Main container

.hero
  align-items: stretch
  background-color: $white
  display: flex
  flex-direction: column
  justify-content: space-between
  .nav
    background: none
    box-shadow: 0 1px 0 rgba($border, 0.3)
  .tabs
    ul
      border-bottom: none
  // Colors
  @each $name, $pair in $colorshero
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      box-shadow: 0 4px 30px rgba($black, 0.3)
      color: $color-invert
      position: relative
      .title
        color: $color-invert
      .subtitle
        color: rgba($color-invert, 0.9)
        a,
        strong
          color: $color-invert
      .nav
        box-shadow: 0 1px 0 rgba($color-invert, 0.2)
      .nav-menu
        +mobile
          background-color: $color
      a.nav-item,
      .nav-item a:not(.button)
        color: rgba($color-invert, 0.7)
        &:hover,
        &.is-active
          color: $color-invert
      .tabs
        a
          color: $color-invert
          opacity: 0.9
          &:hover
            opacity: 1
        li
          &.is-active a
            opacity: 1
        &.is-boxed,
        &.is-toggle
          a
            color: $color-invert
            &:hover
              background-color: rgba($black, 0.1)
          li.is-active a
            &,
            &:hover
              background-color: $color-invert
              border-color: $color-invert
              color: $color
      // Modifiers
      &.is-bold
        $gradient-top-left: darken(saturate(adjust-hue($color, -10deg), 10%), 10%)
        $gradient-bottom-right: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%)
        background-image: linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%)
      // Responsiveness
      +mobile
        .nav-toggle
          span
            background-color: $color-invert
          &:hover
            background-color: rgba($black, 0.1)
          &.is-active
            span
              background-color: $color-invert
        .nav-menu
          .nav-item
            border-top-color: rgba($color-invert, 0.2)
  // Sizes
  &.is-medium
    +tablet
      .hero-body
        padding-bottom: 9rem
        padding-top: 9rem
  &.is-large
    +tablet
      .hero-body
        padding-bottom: 18rem
        padding-top: 18rem
  &.is-fullheight
    min-height: 100vh
    .hero-body
      align-items: center
      display: flex
      & > .container
        flex-grow: 1
        flex-shrink: 1

.hero
  &.is-primary
    .hero-head
      box-shadow: 0 4px 7px rgba($black, 0.1)
    .hero-foot
      background: rgba($black, 0.3)
    .nav
      box-shadow: none
    .nav-right
      flex: inherit
    a.nav-item
      font-weight: $weight-bold
    .nav-logo
      img
        height: 50px
        max-height: 50px
    .nav-search
      position: relative
      width: 100%
      .input
        min-width: 265px
    .nav-signin,
    .nav-social
      display: none
    .nav-signin
      .input
        max-width: 130px
    .nav-menu
      &.is-active
        .input
          max-width: none
          width: 100%
    .nav-menu-signin
      .nav-social,
      .nav-signin
        display: flex
      .nav-search
        display: none
    .control,
    form
      width: 100%
    .tabs
      &.is-boxed
        overflow: inherit
        li
          position: relative
          a
            border: none
            border-radius: 0
            cursor: pointer
            margin: 0
            opacity: 1
            padding-left: 0
            padding-right: 0
            text-align: center
          &:hover
            a
              background: $white
              color: $primary
          a:hover,
          &.is-active a
            background: $primary
            color: $white
          .box
            border-radius: 0 0 $radius $radius
            display: none
            position: absolute
            width: 100%
            z-index: 10000
          &:hover
            .box
              display: block
              a
                background: inherit
                color: $grey-dark
                &:hover
                  background: $primary
                  color: $white
                &:last-child
                  border-radius: 0 0 $radius $radius
    .search-suggest
      .box
        a
          color: $grey-dark
          &.suggest-over
            color: $white
            cursor: pointer
  &.is-dark
    .title,
    .subtitle,
    .tabs li a
      text-shadow: 1px 1px 0 rgba($black, 0.3)
    .title,
    .subtitle
      a
        color: inherit
    .columnsnomargin
      margin-bottom: 0
    .hero-foot
      border-bottom: 6px solid $primary
    .tag
      text-shadow: none
    .tabs
      overflow: visible
      li
        &.is-inactive
          opacity: 0.5
      &.is-boxed
        li
          &.is-active a,
          a:hover
            background: $primary
            border-color: $primary
            color: $white
            text-shadow: none
      a
        .count
          margin-left: 4px
          opacity: 0.5
      .more
        display: none
        position: relative
      li
        .box
          border-radius: 0 0 $radius $radius
          display: none
          position: absolute
          right: 0
          width: 100%
          z-index: 10000
          li
            &.is-active
              background: $primary
              a
                background: inherit
                border-color: transparent
            &:first-child
              border-radius: 0
        &:hover
          .box
            background: $dark
            display: block
            a
              background: inherit
              border-color: transparent
              border-radius: 0
              cursor: pointer

+mobile
  .hero
    &.is-primary
      .nav-logo
        img
          max-height: 34px

+tablet
  .hero
    &.is-primary
      .nav-searchlogin
        padding-right: 0
    &.is-dark
      .controlactions
        margin-top: 12px

+touch
  .hero
    &.is-primary
      .nav-search
        .input
          min-width: 140px
    &.is-dark
      .tabs
        a
          .count
            display: none

+desktop
  .hero
    &.is-primary
      .nav-logo
        padding-left: 0