@import "../utilities/mixins.sass"
@import "../utilities/variables.sass"

.section
  background-color: $white
  padding: 40px 20px
  // Responsiveness
  +desktop
    // Sizes
    &.is-medium
      padding: 120px 20px
    &.is-large
      padding: 240px 20px
