// Display

.is-flex
  display: flex

// Float

.is-clearfix
  +clearfix

.is-pulled-left
  float: left

.is-pulled-right
  float: right

// Overlay

.is-overlay
  +overlay

// Size

.is-fullwidth
  width: 100%

// Text

.is-text-centered
  text-align: center

.is-text-left
  text-align: left

.is-text-right
  text-align: right

// Visibility

.is-hidden-mobile
  +mobile
    display: none !important

.is-hidden-tablet
  +tablet
    display: none !important

.is-hidden-touch
  +touch
    display: none !important

.is-hidden-desktop
  +desktop
    display: none !important

// Other

.is-disabled
  pointer-events: none

.is-marginless
  margin: 0 !important

.is-unselectable
  +unselectable

// Accessibility

.is-sr
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0

.is-sr-focusable
  &:active, &:focus
    position: static
    width: auto
    height: auto
    margin: 0
    overflow: visible
    clip: auto
