.is-centered
  text-align: center

.is-left
  text-align: left

.is-right
  text-align: right

.is-block
  display: block

.is-disabled
  pointer-events: none

.is-inline
  display: inline

.is-marginless
  margin: 0 !important

.is-unselectable
  +unselectable
