@import "derived-variables"
@import "initial-variables"
@import "functions"

$background-invert: findColorInvert($white-ter) !default
$border-invert: findColorInvert($grey-lighter) !default
$border-hover-invert: findColorInvert($grey-light) !default
$border-dark: findDarkColor($border-light) !default
$border-dark-hover: findDarkColor($border-light-hover) !default

$text-dark: findDarkColor($text-light) !default
$text-strong-invert: findColorInvert($text-strong) !default


$code-invert: findColorInvert($code) !default
$code-background-invert: findColorInvert($background) !default

$pre-invert: findColorInvert($pre) !default
$pre-background-invert: findColorInvert($pre-background) !default


$link-hover-invert: findColorInvert($link-hover) !default
$link-hover-border-invert: findColorInvert($link-hover-border) !default
$link-focus-invert: findColorInvert($link-focus) !default
$link-focus-border-invert: findColorInvert($link-focus-border) !default
$link-active-invert: findColorInvert($link-active) !default
$link-active-border-invert: findColorInvert($link-active-border) !default
