.media-image
  &.is-32
    width: 32px
  &.is-40
    width: 40px
  +mobile
    margin-bottom: 10px
  +tablet
    margin-right: 10px
    width: 60px

.media-number
  background: $background
  border-radius: 290486px
  display: inline-block
  font-size: $size-medium
  height: 32px
  line-height: 24px
  min-width: 32px
  padding: 4px 8px
  text-align: center
  vertical-align: top
  +mobile
    margin-bottom: 10px
  +tablet
    margin-right: 10px

.media-content
  flex: 1
  .textarea
    min-height: 60px

.media
  align-items: flex-start
  .content:not(:last-child)
    margin-bottom: 10px
  .media
    border-top: 1px solid rgba($border, 0.5)
    display: flex
    padding-top: 10px
    .media-image
      margin-bottom: 0
      margin-right: 10px
      width: 40px
    .textarea
      +control-small
    .button
      +button-small
    .content:not(:last-child),
    .control:not(:last-child)
      margin-bottom: 5px
    .media
      font-size: 12px
      padding-top: 5px
      & + .media
        margin-top: 5px
  & + .media
    border-top: 1px solid rgba($border, 0.5)
    margin-top: 10px
    padding-top: 10px
  &.is-large
    & + .media
      margin-top: 20px
      padding-top: 20px
  +tablet
    display: flex
    &.is-large
      .media-number
        margin-right: 20px
