.table
  background: white
  margin-bottom: 20px
  width: 100%
  th,
  td
    border: 1px solid $border
    border-width: 0 0 1px
    padding: 8px 10px
    vertical-align: top
    &.table-link
      padding: 0
      & > a
        display: block
        padding: 8px 10px
        &:hover
          background: $link
          color: $link-invert
    &.table-icon
      padding: 5px
      text-align: center
      white-space: nowrap
      width: 1%
      .fa
        +fa(21px, 24px)
      &.table-link
        padding: 0
        & > a
          padding: 5px
  th
    color: $text-strong
    text-align: left
  tr
    &:hover
      background: rgba($background, 0.5)
      color: $text-strong
    &:last-child td
      border-bottom-width: 0
  thead
    th,
    td
      border-width: 0 0 2px
  tfoot
    th,
    td
      border-width: 2px 0 0
  &.is-bordered
    th,
    td
      border-width: 1px
    tr
      &:last-child td
        border-bottom-width: 1px
  &.is-narrow
    th,
    td
      padding: 5px 10px
      &.table-link
        padding: 0
        & > a
          padding: 5px 10px
      &.table-icon
        padding: 2px
        &.table-link
          padding: 0
          & > a
            padding: 2px
  &.is-striped
    tbody
      tr:nth-child(2n)
        background: rgba($background, 0.5)
        &:hover
          background: $background
