.tooltip
  position: relative
  cursor: help
  &:hover .tooltip-body
    opacity: 1
    right: -20px
  .tooltip-body
    background: #222324
    border-radius: 3px
    color: white
    font-size: 12px
    margin-right: -200px // width
    min-height: 24px
    opacity: 0
    padding: 4px 10px
    position: absolute
    right: 9999px
    top: -4px // top padding
    transition: opacity 250ms ease-out
    width: 200px
    word-wrap: break-word
    &:before
      border: 6px solid transparent
      border-right-color: #222324
      content: ' ' // must have content to display
      height: 0
      left: -12px // 2x border width
      margin-top: -6px // border width
      position: absolute
      top: 50%
      width: 0
