.bd-extension {
  border-bottom: 2px solid $scheme-main-bis;
  display: block;
  padding: 1.5rem;

  .subtitle {
    color: $text-light;
  }

  &:hover {
    background-color: $scheme-main-bis;

    .title {
      color: $link;
    }

    .subtitle {
      color: $text-strong;
    }
  }
}

@include tablet {
  .bd-extension {
    padding: 3rem 0;
  }
}
