.section
  background: white
  padding: 40px 20px
  & + .section
    border-top: 1px solid rgba($border, 0.5)
  +desktop
    padding: 40px 0
    &.is-medium
      padding: 120px 0
    &.is-large
      padding: 240px 0
