.bd-book-cover {
  @extend %block;
  @extend %center;
  position: relative;
  text-align: center;

  a {
    box-shadow: 0 0.5em 1em rgba(black, 0.1);
    display: inline-block;
    transition-duration: $speed * 2;
    transition-property: box-shadow, transform;
    vertical-align: top;

    &:hover {
      box-shadow: 0 1em 2em rgba(black, 0.1);
      transform: translateY(-0.5em);
    }
  }

  img {
    display: block;
  }
}
