$carbon-spacing: 1rem;
$carbon-shadow-size: 0.75rem;
$carbon-image-height: 100px;
$carbon-image-width: 130px;

#carboncontainer {
  padding: 1.5rem;
}

#carbon {
  border-radius: 0.125em;
  margin: 0;
  min-height: 206px;
  position: relative;
  width: $carbon-image-width;

  &:hover {
    background-color: rgba(black, 0.02);
    box-shadow: 0 0 0 $carbon-shadow-size rgba(black, 0.02);
  }
}

#carbonads {
  font-size: 14px;
  text-align: left;

  a,
  span {
    display: block;
  }

  .carbon-wrap {
    position: relative;

    &:hover {
      .carbon-img::after {
        background-color: rgba(#000, 0.05);
        content: "";
        display: block;
        height: $carbon-height;
        left: 0;
        position: absolute;
        right: $carbon-spacing;
        top: 0;
      }
    }
  }

  .carbon-img {
    min-height: $carbon-height;
    padding: 0;

    img {
      display: block;
      height: $carbon-image-height;
      width: $carbon-image-width;
    }

    &:hover {
      & + .carbon-text {
        color: $link;
      }
    }

    &:active {
      opacity: 0.8;
    }
  }

  .carbon-text {
    display: block;
    color: $text-strong;
    line-height: $carbon-line-height;
    margin-left: -1 * $carbon-shadow-size;
    margin-right: -1 * $carbon-shadow-size;
    padding-left: $carbon-shadow-size;
    padding-right: $carbon-shadow-size;
    padding-bottom: 5px;
    padding-top: 5px;

    &:hover {
      color: $link;
    }
  }

  .carbon-poweredby {
    color: $border-hover;
    font-size: $size-small;
    line-height: 1;

    &:hover {
      text-decoration: underline;
    }
  }
}
