.bd-pills {
  @extend %block;
  align-items: center;
  color: $text-light;
  display: flex;
  justify-content: center;
}

.bd-pill-label {
  padding: 0 0.5em;
}

.bd-pills-body {
  background: $background;
  align-items: center;
  background: #fafafa;
  border-radius: 0.5em;
  display: flex;
  padding: 0.25em;
}

.bd-pill-button {
  @extend %reset;
  border-radius: 0.25em;
  color: $text;
  cursor: pointer;
  font-weight: 500;
  padding: 0.5em 0.75em;
  position: relative;
  transition-duration: 0.5s;
  transition-property: color, background-color;

  &:hover {
    background-color: $white;
    color: $text-strong;
  }

  &.is-active {
    background-color: $white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0.125em 0.125em rgba(0, 0, 0, 0.05);
    color: $text-strong;
    z-index: 1;
  }
}
