#survey-banner {
  align-items: center;
  background-color: $primary-light;
  color: $primary-dark;
  display: flex;
  font-size: 0.875rem;
  justify-content: center;
  padding: 0.5em;

  a,
  strong {
    color: inherit;
  }

  a {
    text-decoration: underline;
  }

  p {
    margin-right: 1em;
  }
}
