$list-background-color: $white !default
$list-radius: $radius !default

$list-item-border: 1px solid $border !default
$list-item-color: $text !default
$list-item-active-background-color: $link !default
$list-item-active-color: $link-invert !default
$list-item-hover-background-color: $background !default

.list
  background-color: $list-background-color
  box-shadow: $card-shadow
  border-radius: $list-radius
  &.is-hoverable > .list-item:hover:not(.is-active)
    background-color: $list-item-hover-color
    cursor: pointer

.list-item
  color: $list-item-color
  display: block
  padding: 0.5em 1em
  &.is-active
    background-color: $list-item-active-background-color
    color: $list-item-active-color
  &:not(:last-child)
    border-bottom: $list-item-border
