.timeline
  border-left: 2px solid $grey
  position: relative

  .timeline-item
    padding-bottom: 1px
    position: relative
    flex-grow: 0
    flex-shrink: 0
    &:after
      background-color: #ffffff
      border-color: $grey
      border-radius: 20px
      border-style: solid
      border-width: 2px
      bottom: 0
      content: ''
      height: 30px
      left: 0
      margin-left: -16px
      position: absolute
      top: 0px
      width: 30px
    &:before
      content: " "
      position: absolute
      background: rgb(228, 228, 228)
      top: 10px
      width: 10px
      height: 10px
      z-index: 2
      left: -6px
      border-radius: 100%
    &.is-danger
      &:after
        border-color: $danger
        background-color: $danger
      &:before
        background-color: $danger
    &.is-success
      &:after
        border-color: $success
        background-color: $success
      &:before
        background-color: $success
    &.is-info
      &:after
        border-color: $info
        background-color: $info
      &:before
        background-color: $info


    .timeline-item-content
      margin-bottom: 15px
      margin-left: 30px
      .title
        font-size: $size-6
        font-weight: $weight-semibold
        margin-bottom: 3px
        color: $grey-light
      .details
        font-size: $size-6
        font-weight: $weight-normal
        color: $grey
