// Colors

$primary-invert: findColorInvert($primary)
$info: $blue
$info-invert: findColorInvert($info)
$success: $green
$success-invert: findColorInvert($success)
$warning: $yellow
$warning-invert: findColorInvert($warning)
$danger: $red
$danger-invert: findColorInvert($danger)

$colors: (primary: ($primary, $primary-invert), info: ($info, $info-invert), success: ($success, $success-invert), warning: ($warning, $warning-invert), danger: ($danger, $danger-invert))

$body-background: $grey-lighter

$background: $grey-lighter

$border: $grey-light
$border-hover: $grey

// Text

$text: $grey-dark
$text-invert: findColorInvert($text)
$text-light: $grey
$text-strong: $grey-darker

// Code

$code: $info
$code-background: $background

$pre: $text
$pre-background: $background

// Links

$link: $primary
$link-invert: $primary-invert
$link-visited: $purple

$link-hover: $grey-darker
$link-hover-background: $grey-lighter
$link-hover-border: $grey-darker

$link-active: $grey-darker
$link-active-border: $grey-darker

// Controls

$control: $text-strong
$control-background: $text-invert
$control-border: $border

$control-hover: $link-hover
$control-hover-border: $border-hover

$control-active: $link
$control-active-background: $link
$control-active-background-invert: $link-invert
$control-active-border: $link

// Typography

$family-primary: $family-sans-serif

$size-small: $size-7
$size-normal: $size-6
$size-medium: $size-5
$size-large: $size-3
$size-huge: $size-1

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6
