// Colors

$grey-darker: #222324 !default
$grey-dark: #69707a !default
$grey: #aeb1b5 !default
$grey-light: #d3d6db !default
$grey-lighter: #f5f7fa !default

$blue: #42afe3 !default
$green: #97cd76 !default
$orange: #f68b39 !default
$purple: #847bb9 !default
$red: #ed6c63 !default
$turquoise: #1fc8db !default
$yellow: #fce473 !default

$primary: $turquoise !default

// Typography

$family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$family-monospace: "Source Code Pro", "Monaco", "Inconsolata", monospace !default

$size-1: 48px !default
$size-2: 40px !default
$size-3: 28px !default
$size-4: 24px !default
$size-5: 18px !default
$size-6: 14px !default

$size-7: 11px !default

// Dimensions

$column-gap: 20px !default

$header-height: 50px !default

// Miscellaneous

$easing: ease-out !default
$radius: 3px !default
$speed: 86ms !default
