@use "shared"
@use "../utilities/initial-variables"
@use "../utilities/derived-variables"
@use "../utilities/controls"
@use "../utilities/mixins"
@use "../utilities/extends"
@use "../utilities/functions"

$select-colors: shared.$form-colors !default

.select
  display: inline-block
  max-width: 100%
  position: relative
  vertical-align: top
  &:not(.is-multiple)
    height: shared.$input-height
  &:not(.is-multiple):not(.is-loading)
    &::after
      @extend %arrow
      border-color: shared.$input-arrow
      +mixins.ltr-position(1.125em)
      z-index: 4
  &.is-rounded
    select
      border-radius: initial-variables.$radius-rounded
      +mixins.ltr-property("padding", 1em, false)
  select
    @extend %input
    cursor: pointer
    display: block
    font-size: 1em
    max-width: 100%
    outline: none
    &::-ms-expand
      display: none
    &[disabled]:hover,
    fieldset[disabled] &:hover
      border-color: shared.$input-disabled-border-color
    &:not([multiple])
      +mixins.ltr-property("padding", 2.5em)
    &[multiple]
      height: auto
      padding: 0
      option
        padding: 0.5em 1em
  // States
  &:not(.is-multiple):not(.is-loading):hover
    &::after
      border-color: shared.$input-hover-color
  // Colors
  @each $name, $pair in $select-colors
    $color: nth($pair, 1)
    &.is-#{$name}
      &:not(:hover)::after
        border-color: $color
      select
        border-color: $color
        &:hover,
        &.is-hovered
          border-color: functions.bulmaDarken($color, 5%)
        &:focus,
        &.is-focused,
        &:active,
        &.is-active
          box-shadow: shared.$input-focus-box-shadow-size functions.bulmaRgba($color, 0.25)
  // Sizes
  &.is-small
    +controls.control-small
  &.is-medium
    +controls.control-medium
  &.is-large
    +controls.control-large
  // Modifiers
  &.is-disabled
    &::after
      border-color: shared.$input-disabled-color !important
      opacity: 0.5
  &.is-fullwidth
    width: 100%
    select
      width: 100%
  &.is-loading
    &::after
      @extend %loader
      margin-top: 0
      position: absolute
      +mixins.ltr-position(0.625em)
      top: 0.625em
      transform: none
    &.is-small:after
      font-size: derived-variables.$size-small
    &.is-medium:after
      font-size: derived-variables.$size-medium
    &.is-large:after
      font-size: derived-variables.$size-large
