@use "sass/utilities/css-variables" as cv;

.bd-amis {
  --color: #fff;
  background-color: cv.getVar("scheme-main");
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  row-gap: 0.5rem;
  position: relative;
  margin: 0 -1rem;
  justify-content: center;
}

.bd-ami {
  display: inline-flex;
  align-items: center;
  border-radius: 0.25rem;
  justify-content: center;
  padding: 0.75rem;
  height: 5rem;
  vertical-align: top;
  mix-blend-mode: luminosity;
  transition-duration: cv.getVar("duration");
  transition-property: background-color, mix-blend-mode;

  &:hover {
    background-color: var(--color);
    mix-blend-mode: normal;
  }
}

.bd-ami img {
  border-radius: 0.25rem;
  height: auto;
  max-height: 3rem;
  width: auto;
}

.bd-ami-footer {
  border-radius: 0.25rem;
  height: 4rem;
  mix-blend-mode: normal;
}

.bd-ami-footer img {
  max-width: none;
}

.bd-footer-title,
.bd-footer-donation-title {
  font-size: 1.125em;
  margin-bottom: 0.5em;
}

.bd-footer-donation-action {
  min-height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .paypal-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
