@use "sass/utilities/css-variables" as cv;

.bd-amis {
  background-color: cv.getVar("scheme-main");
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  position: relative;
}

.bd-ami {
  background-color: var(--color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  max-width: 10.5rem;
  height: 4rem;
  vertical-align: top;
}

.bd-ami img {
  border-radius: 0.25rem;
  height: auto;
  max-height: 3rem;
  width: auto;
}

.bd-ami-footer {
  border-radius: 0.25rem;
}

.bd-ami-footer img {
  max-width: none;
}

.bd-footer-title,
.bd-footer-donation-title {
  font-size: 1.125em;
  margin-bottom: 0.5em;
}

.bd-footer-donation-action {
  min-height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .paypal-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
