%column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;

  %columns%isMobile > &%isNarrow {
    flex: none;
  }

  %columns%isMobile > &%isFull {
    flex: none;
    width: 100%;
  }

  %columns%isMobile > &%isThreeQuarters {
    flex: none;
    width: 75%;
  }

  %columns%isMobile > &%isTwoThirds {
    flex: none;
    width: 66.6666%;
  }

  %columns%isMobile > &%isHalf {
    flex: none;
    width: 50%;
  }

  %columns%isMobile > &%isOneThird {
    flex: none;
    width: 33.3333%;
  }

  %columns%isMobile > &%isOneQuarter {
    flex: none;
    width: 25%;
  }

  %columns%isMobile > &%isOffsetThreeQuarters {
    margin-left: 75%;
  }

  %columns%isMobile > &%isOffsetTwoThirds {
    margin-left: 66.6666%;
  }

  %columns%isMobile > &%isOffsetHalf {
    margin-left: 50%;
  }

  %columns%isMobile > &%isOffsetOneThird {
    margin-left: 33.3333%;
  }

  %columns%isMobile > &%isOffsetOneQuarter {
    margin-left: 25%;
  }

  @for $i from 1 through 12 {
    %columns%isMobile > &%is#{$i} {
      flex: none;
      width: $i / 12 * 100%;
    }

    %columns%isMobile > &%isOffset#{$i} {
      margin-left: $i / 12 * 100%;
    }
  }

  @include mobile {
    &%isNarrowMobile {
      flex: none;
    }

    &%isFullMobile {
      flex: none;
      width: 100%;
    }

    &%isThreeQuartersMobile {
      flex: none;
      width: 75%;
    }

    &%isTwoThirdsMobile {
      flex: none;
      width: 66.6666%;
    }

    &%isHalfMobile {
      flex: none;
      width: 50%;
    }

    &%isOneThirdMobile {
      flex: none;
      width: 33.3333%;
    }

    &%isOneQuarterMobile {
      flex: none;
      width: 25%;
    }

    &%isOffsetThreeQuartersMobile {
      margin-left: 75%;
    }

    &%isOffsetTwoThirdsMobile {
      margin-left: 66.6666%;
    }

    &%isOffsetHalfMobile {
      margin-left: 50%;
    }

    &%isOffsetOneThirdMobile {
      margin-left: 33.3333%;
    }

    &%isOffsetOneQuarterMobile {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &%is#{$i}Mobile {
        flex: none;
        width: $i / 12 * 100%;
      }

      &%isOffset#{$i}Mobile {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @include tablet {
    &%isNarrow,
    &%isNarrowTablet {
      flex: none;
    }

    &%isFull,
    &%isFullTablet {
      flex: none;
      width: 100%;
    }

    &%isThreeQuarters,
    &%isThreeQuartersTablet {
      flex: none;
      width: 75%;
    }

    &%isTwoThirds,
    &%isTwoThirdsTablet {
      flex: none;
      width: 66.6666%;
    }

    &%isHalf,
    &%isHalfTablet {
      flex: none;
      width: 50%;
    }

    &%isOneThird,
    &%isOneThirdTablet {
      flex: none;
      width: 33.3333%;
    }

    &%isOneQuarter,
    &%isOneQuarterTablet {
      flex: none;
      width: 25%;
    }

    &%isOffsetThreeQuarters,
    &%isOffsetThreeQuartersTablet {
      margin-left: 75%;
    }

    &%isOffsetTwoThirds,
    &%isOffsetTwoThirdsTablet {
      margin-left: 66.6666%;
    }

    &%isOffsetHalf,
    &%isOffsetHalfTablet {
      margin-left: 50%;
    }

    &%isOffsetOneThird,
    &%isOffsetOneThirdTablet {
      margin-left: 33.3333%;
    }

    &%isOffsetOneQuarter,
    &%isOffsetOneQuarterTablet {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &%is#{$i},
      &%is#{$i}Tablet {
        flex: none;
        width: $i / 12 * 100%;
      }

      &%isOffset#{$i},
      &%isOffset#{$i}Tablet {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @include desktop {
    &%isNarrowDesktop {
      flex: none;
    }

    &%isFullDesktop {
      flex: none;
      width: 100%;
    }

    &%isThreeQuartersDesktop {
      flex: none;
      width: 75%;
    }

    &%isTwoThirdsDesktop {
      flex: none;
      width: 66.6666%;
    }

    &%isHalfDesktop {
      flex: none;
      width: 50%;
    }

    &%isOneThirdDesktop {
      flex: none;
      width: 33.3333%;
    }

    &%isOneQuarterDesktop {
      flex: none;
      width: 25%;
    }

    &%isOffsetThreeQuartersDesktop {
      margin-left: 75%;
    }

    &%isOffsetTwoThirdsDesktop {
      margin-left: 66.6666%;
    }

    &%isOffsetHalfDesktop {
      margin-left: 50%;
    }

    &%isOffsetOneThirdDesktop {
      margin-left: 33.3333%;
    }

    &%isOffsetOneQuarterDesktop {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &%is#{$i}Desktop {
        flex: none;
        width: $i / 12 * 100%;
      }

      &%isOffset#{$i}Desktop {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @include widescreen {
    &%isNarrowWidescreen {
      flex: none;
    }

    &%isFullWidescreen {
      flex: none;
      width: 100%;
    }

    &%isThreeQuartersWidescreen {
      flex: none;
      width: 75%;
    }

    &%isTwoThirdsWidescreen {
      flex: none;
      width: 66.6666%;
    }

    &%isHalfWidescreen {
      flex: none;
      width: 50%;
    }

    &%isOneThirdWidescreen {
      flex: none;
      width: 33.3333%;
    }

    &%isOneQuarterWidescreen {
      flex: none;
      width: 25%;
    }

    &%isOffsetThreeQuartersWidescreen {
      margin-left: 75%;
    }

    &%isOffsetTwoThirdsWidescreen {
      margin-left: 66.6666%;
    }

    &%isOffsetHalfWidescreen {
      margin-left: 50%;
    }

    &%isOffsetOneThirdWidescreen {
      margin-left: 33.3333%;
    }

    &%isOffsetOneQuarterWidescreen {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &%is#{$i}Widescreen {
        flex: none;
        width: $i / 12 * 100%;
      }

      &%isOffset#{$i}Widescreen {
        margin-left: $i / 12 * 100%;
      }
    }
  }
}

%columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;

  &:last-child {
    margin-bottom: -0.75rem;
  }

  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  // Modifiers
  &%isCentered {
    justify-content: center;
  }

  &%isGapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    & > %column {
      margin: 0;
      padding: 0;
    }
  }

  &%isGrid {
    // Responsiveness
    @include tablet {
      flex-wrap: wrap;

      & > %column {
        max-width: 33.3333%;
        padding: 0.75rem;
        width: 33.3333%;

        & + %column {
          margin-left: 0;
        }
      }
    }
  }

  &%isMobile {
    display: flex;
  }

  &%isMultiline {
    flex-wrap: wrap;
  }

  &%isVcentered {
    align-items: center;
  }

  // Responsiveness
  @include tablet {
    &:not(%isDesktop) {
      display: flex;
    }
  }


  @include desktop {
    // Modifiers
    &%isDesktop {
      display: flex;
    }
  }
}
