%tile {
  align-items: stretch;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: min-content;

  // Modifiers
  &%isAncestor {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;

    &:last-child {
      margin-bottom: -0.75rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  &%isChild {
    margin: 0 !important;
  }

  &%isParent {
    padding: 0.75rem;
  }

  &%isVertical {
    flex-direction: column;

    & > %tile%isChild:not(:last-child) {
      margin-bottom: 1.5rem !important;
    }
  }

  // Responsiveness
  @include tablet {
    &:not(%isChild) {
      display: flex;
    }

    @for $i from 1 through 12 {
      &%is#{$i} {
        flex: none;
        width: $i / 12 * 100%;
      }
    }
  }
}
