.app {
  --var-item-side-width: 12rem;
  --var-item-slider-width: 30rem;
  --var-item-padding: 1rem;
  --var-item-gap: 1rem;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1.5rem;
}
