@import "../utilities/mixins";

$body-background-color: getVar("scheme-main") !default;
$body-size: 16px !default;
$body-min-width: 300px !default;
$body-rendering: optimizeLegibility !default;
$body-family: getVar("family-primary") !default;
$body-overflow-x: hidden !default;
$body-overflow-y: scroll !default;

$body-color: getVar("text") !default;
$body-font-size: 1em !default;
$body-weight: getVar("weight-normal") !default;
$body-line-height: 1.5 !default;

$code-family: getVar("family-code") !default;
$code-padding: 0.25em 0.5em 0.25em !default;
$code-weight: normal !default;
$code-size: 0.875em !default;

$small-font-size: 0.875em !default;

$hr-background-color: getVar("background") !default;
$hr-height: 2px !default;
$hr-margin: 1.5rem 0 !default;

$strong-color: getVar("text-strong") !default;
$strong-weight: getVar("weight-bold") !default;

$pre-font-size: 0.875em !default;
$pre-padding: 1.25rem 1.5rem !default;
$pre-code-font-size: 1em !default;

:root {
  @include register-vars(
    (
      body-background-color: #{$body-background-color},
      body-size: #{$body-size},
      body-min-width: #{$body-min-width},
      body-rendering: #{$body-rendering},
      body-family: #{$body-family},
      body-overflow-x: #{$body-overflow-x},
      body-overflow-y: #{$body-overflow-y},
      body-color: #{$body-color},
      body-font-size: #{$body-font-size},
      body-weight: #{$body-weight},
      body-line-height: #{$body-line-height},
      code-family: #{$code-family},
      code-padding: #{$code-padding},
      code-weight: #{$code-weight},
      code-size: #{$code-size},
      small-font-size: #{$small-font-size},
      hr-background-color: #{$hr-background-color},
      hr-height: #{$hr-height},
      hr-margin: #{$hr-margin},
      strong-color: #{$strong-color},
      strong-weight: #{$strong-weight},
      pre-font-size: #{$pre-font-size},
      pre-padding: #{$pre-padding},
      pre-code-font-size: #{$pre-code-font-size},
    )
  );
}

html {
  background-color: getVar("body-background-color");
  font-size: getVar("body-size");
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: getVar("body-min-width");
  overflow-x: getVar("body-overflow-x");
  overflow-y: getVar("body-overflow-y");
  text-rendering: getVar("body-rendering");
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: getVar("body-family");
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: getVar("code-family");
}

body {
  color: getVar("body-color");
  font-size: getVar("body-font-size");
  font-weight: getVar("body-weight");
  line-height: getVar("body-line-height");
}

// Inline

a {
  color: getVar("link");
  cursor: pointer;
  text-decoration: none;

  strong {
    color: currentColor;
  }

  &:hover {
    color: getVar("link-hover");
  }
}

code {
  background-color: getVar("code-background");
  color: getVar("code");
  font-size: getVar("code-size");
  font-weight: getVar("code-weight");
  padding: getVar("code-padding");
}

hr {
  background-color: getVar("hr-background-color");
  border: none;
  display: block;
  height: getVar("hr-height");
  margin: getVar("hr-margin");
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: getVar("small-font-size");
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: getVar("strong-color");
  font-weight: getVar("strong-weight");
}

// Block

fieldset {
  border: none;
}

pre {
  @include overflow-touch;

  background-color: getVar("pre-background");
  color: getVar("pre");
  font-size: getVar("pre-font-size");
  overflow-x: auto;
  padding: getVar("pre-padding");
  white-space: pre;
  word-wrap: normal;

  code {
    background-color: transparent;
    color: currentColor;
    font-size: getVar("pre-code-font-size");
    padding: 0;
  }
}

table {
  td,
  th {
    vertical-align: top;

    &:not([align]) {
      text-align: inherit;
    }
  }

  th {
    color: getVar("text-strong");
  }
}
