////////////////////////////////////////////////
// DARKLY
////////////////////////////////////////////////
+register("grey-lighter", #dbdee0);
+register("grey-light", #8c9b9d);

+register("grey", vDarken("grey-light", 18%));
+register("grey-dark", vDarken("grey", 18%));
+register("grey-darker", vDarken("grey", 23%));

+register("orange", #e67e22);
+register("yellow", #f1b70e);
+register("green", #2ecc71);
+register("turquoise", #1abc9c);
+register("blue", #3498db);
+register("purple", #8e44ad);
+register("red", #e74c3c);
+register("white-ter", #ecf0f1);
+register("yellow-invert", #fff);

+register("primary", #375a7f, true);

+register("family-sans-serif", ("Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
"Helvetica Neue", "Helvetica", "Arial", sans-serif));
+register("family-monospace", ("Inconsolata", "Consolas", "Monaco", monospace));

+register("radius-small", 3px);
+register("radius", 0.4em);
+register("radius-large", 8px);
+register("size-6", 15px);
+register("size-7", 0.85em);
+register("title-weight", 500);
+register("subtitle-weight", 400);
+register("subtitle-color", v("grey-dark"));

+register("border-width", 2px);
+register("border", v("grey"));

+register("body-background-color", vDarken("grey-darker", 4%));
+register("body-size", 15px);

+register("background", v("grey-darker"));
+register("footer-background-color", v("background"));
+register("button-background-color", v("background"));
+rgister("button-border-color", vLighten("button-background-color", 15%));

+register("title-color", #fff);
+register("subtitle-color", v("grey-light"));
+register("subtitle-strong-color", v("grey-light"));

+register("text", #fff);
+register("text-light", vLighten("text", 10%));
+register("text-strong", vDarken("text", 5%));

+register("box-color", v("text"));
+register("box-background-color", v("grey-dark"));
+register("box-shadow", none);

+register("link", v("turquoise"));
+register("link-hover", vLighten("link", 5%));
+register("link-focus", vDarken("link", 5%));
+register("link-active", vDarken("link", 5%));
+register("link-focus-border", v("grey-light"));

+register("button-color", v("primary"));
+register("button-hover-color", vDarken("text", 5%)); // text-dark
+register("button-focus", vDarken("text", 5%)); // text-dark
+register("button-active-color", vDarken("text", 5%)); // text-dark
+register("button-disabled-background-color", v("grey-light"));

+register("input-color", v("grey-darker"));
+register("input-icon-color", v("grey"));
+register("input-icon-active-color", v("input-color"));
+register("input-hover-color", v("grey-light"));
+register("input-disabled-background-color", v("grey-light"));
+register("input-disabled-border", v("grey-lighter"));

+register("table-color", v("text"));
+register("table-head", v("grey-lighter"));
+register("table-background-color", v("grey-dark"));
+register("table-cell-border", 1px solid v("grey"));

+register("table-row-hover-background-color", v("grey-darker"));
+register("table-striped-row-even-background-color", v("grey-darker"));
+register("table-striped-row-even-hover-background-color", vLighten("grey-darker", 2%));

+register("pagination-color", v("link"));
+register("pagination-border-color", v("border"));

+register("navbar-height", 4rem);

+register("navbar-background-color", v("primary"));
+register("navbar-item-color", v("text"));
+register("navbar-item-hover-color", v("link"));
+register("navbar-item-hover-background-color", transparent);
+register("navbar-item-active-color", v("link"));
+register("navbar-dropdown-arrow", v("white"));
+register("navbar-divider-background-color", vAlphaChange("black", .2));
+register("navbar-dropdown-border-top", 1px solid v("navbar-divider-background-color"));
+register("navbar-dropdown-background-color", v("primary"));
+register("navbar-dropdown-item-hover-color", v("grey-lighter"));
+register("navbar-dropdown-item-hover-background-color", transparent);
+register("navbar-dropdown-item-active-background-color", transparent);
+register("navbar-dropdown-item-active-color", v("link"));

+register("dropdown-content-background-color", v("background"));
+register("dropdown-item-color", v("text"));

+register("progress-value-background-color", v("grey-lighter"));

+register("file-cta-background-color", v("grey-darker"));

+register("progress-bar-background-color", v("grey-dark"));

+register("panel-heading-background-color", v("grey-dark"));


// Overrides
hr {
  height: v("border-width");
}

h6 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.hero {
  background-color: v("grey-dark");
}

a {
  transition: all 200ms ease;
}

.button {
  transition: all 200ms ease;
  border-width: v("border-width");
  color: v("white");

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px vAlphaChange("button-focus-border-color", 0.5);
  }

  @each $name in $colors-list {
    $color: v($name);
    $color-invert: v($name+"-invert");

    &.is-#{$name} {
      &.is-hovered,
      &:hover {
        background-color: vLighten($name, 7.5%);
      }

      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 2px vAlphaChange($name, 0.5);
      }
    }
  }
}

.label {
  color: v("grey-lighter");
}

.input,
.textarea {
  transition: all 200ms ease;
  box-shadow: none;
  border-width: v("border-width");
  padding-left: 1em;
  padding-right: 1em;
}

.select {
  &:after,
  select {
    border-width: v("border-width");
  }
}

.control {
  &.has-addons {
    .button,
    .input,
    .select {
      margin-right: calc(-1 * #{v("border-width")});
    }
  }
}

.notification {
  background-color: v("grey-dark");
}

.card {
  $card-border-color: vLighten("grey-darker", 5%);
  box-shadow: none;
  border: v("border-width") solid $card-border-color;
  background-color: v("grey-darker");
  border-radius: v("radius");

  .card-image {
    img {
      border-radius: v("radius") v("radius") 0 0;
    }
  }

  .card-header {
    box-shadow: none;
    background-color: vAlphaChange("black-bis", 0.2);
    border-radius: v("radius") v("radius") 0 0;
  }

  .card-footer {
    background-color: vAlphaChange("black-bis", 0.2);
  }

  .card-footer,
  .card-footer-item {
    border-width: v("border-width");
    border-color: $card-border-color;
  }
}

.notification {
  @each $name in $colors-list {
    $color-invert: v($name+"-invert");

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.tag {
  border-radius: v("radius");
}

.menu-list {
  a {
    transition: all 300ms ease;
  }
}

.modal-card-body {
  background-color: v("grey-darker");
}

.modal-card-foot,
.modal-card-head {
  border-color: v("grey-dark");
}

.message-header {
  font-weight: v("weight-bold");
  background-color: v("grey-dark");
  color: v("white");
}

.message-body {
  border-width: v("border-width");
  border-color: v("grey-dark");
}

.navbar {
  border-radius: v("radius");

  &.is-transparent {
    background: none;
  }

  &.is-primary {
    .navbar-dropdown {
      a.navbar-item.is-active {
        background-color: v("link");
      }
    }
  }

  @include touch {
    .navbar-menu {
      background-color: v("navbar-background-color");
      border-radius: 0 0 v("radius") v("radius");
    }
  }
}

.hero .navbar,
body > .navbar {
  border-radius: 0;
}

.pagination-link,
.pagination-next,
.pagination-previous {
  border-width: v("border-width");
}

.panel-block,
.panel-heading,
.panel-tabs {
  border-width: v("border-width");

  &:first-child {
    border-top-width: v("border-width");
  }
}

.panel-heading {
  font-weight: v("weight-bold");
}

.panel-tabs {
  a {
    border-width: v("border-width");
    margin-bottom: calc(-1 * #{v("border-width")});

    &.is-active {
      border-bottom-color: v("link-active");
    }
  }
}

.panel-block {
  &:hover {
    color: v("link-hover");

    .panel-icon {
      color: v("link-hover");
    }
  }

  &.is-active {
    .panel-icon {
      color: v("link-active");
    }
  }
}

.tabs {
  a {
    border-bottom-width: v("border-width");
    margin-bottom: calc(-1 * #{v("border-width")});
  }

  ul {
    border-bottom-width: v("border-width");
  }

  &.is-boxed {
    a {
      border-width: v("border-width");
    }

    li.is-active a {
      background-color: vDarken("grey-darker", 4%);
    }
  }

  &.is-toggle {
    li a {
      border-width: v("border-width");
      margin-bottom: 0;
    }

    li + li {
      margin-left: calc(-1 * #{v("border-width")});
    }
  }
}

.hero {
  // Colors
  @each $name in $colors-list {

    &.is-#{$name} {
      .navbar {
        .navbar-dropdown {
          .navbar-item:hover {
            background-color: v("navbar-dropdown-item-hover-background-color");
          }
        }
      }
    }
  }
}

