////////////////////////////////////////////////
// UNITED
////////////////////////////////////////////////
$grey-darker: #222;
$grey-dark: #333;
$grey: #777;
$grey-light: #aea79f;
$grey-lighter: #ddd;

$orange: #e95420;
$yellow: #efb73e;
$green: #38b44a;
$purple: #772953;
$red: #df382c;
$blue: #17a2b8;

$primary: $orange !default;
$info: $purple;

$yellow-invert: #fff;
$warning-invert: $yellow-invert;

$family-sans-serif: "Ubuntu", Tahoma, "Helvetica Neue", Arial, sans-serif;
$body-size: 14px;

$size-7: 0.8575rem;

$subtitle-color: $grey;

$navbar-background-color: #aea79f;
$navbar-item-color: #fff;
$navbar-item-hover-color: $navbar-item-color;
$navbar-item-active-color: $navbar-item-color;
$navbar-item-hover-background-color: rgba(#000, 0.1);
$navbar-item-active-background-color: rgba(#000, 0.1);
$navbar-dropdown-arrow: $navbar-item-color;

$bulmaswatch-import-font: true !default;

@import "../../bulma.sass";
