.bd-fat-button {
  font-size: 1.25em;
  font-weight: $weight-semibold;
  height: auto;
  padding: 0.75em 1.25em;

  &.is-bleeding,
  &.is-amazon {
    small {
      display: block;
      font-size: 0.625em;
      font-weight: $weight-normal;
      opacity: 0.7;
    }

    .icon {
      margin-right: 0.5em;
    }
  }

  &.is-amazon {
    img {
      margin-bottom: -11px;
    }
  }
}
