@use "sass/utilities/css-variables" as cv;

@forward "anim";
@forward "brand";
@forward "feature";
@forward "header";
@forward "native";
@forward "nav";

.bd-hr {
  height: 0.25rem;
  margin: 1em auto;
  border-radius: 9999px;
  background-color: var(--theme-color, #{cv.getVar("primary")});
  width: 4em;
}
