#mc_embed_signup
  .control
    margin-bottom: 0
  .notification
    margin-top: 0.75rem

#social
  align-items: center
  display: flex
  flex-wrap: wrap
  margin-bottom: 1em
  justify-content: center
  a
    display: inline-block
    font-size: 11px
    height: 20px
    line-height: 20px
    margin: 5px
  iframe
    margin: 5px

#newsletter
  .input
    border-color: $white
    box-shadow: none
