$github: #333333
$twitter: #55acee

#github
  color: $github
  border-color: $github
  &:hover
    background: $github
    border-color: $github
    color: $white

#twitter
  color: $twitter
  border-color: $twitter
  &:hover
    background: $twitter
    border-color: $twitter
    color: $white
