#images
  tr
    td:nth-child(2)
      width: 320px

.color
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(black, 0.5)
  display: inline-block
  float: left
  height: 24px
  margin-right: 8px
  width: 24px
