svg
  max-height: 100%
  max-width: 100%

$carbon-space: 15px

#carboncontainer
  align-items: center
  display: flex
  justify-content: center
  margin-left: auto
  margin-right: auto
  max-width: 340px
  min-height: 120px + ($carbon-space * 2)

#carbon
  flex-grow: 1
  padding: 0
  position: relative
  &:hover
    box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px $primary
  +tablet
    width: 340px

#carbonads
  font-size: 14px
  text-align: left
  a,
  span
    display: block
  .carbon-wrap
    min-height: 130px
    position: relative
  .carbon-img
    bottom: 0
    float: left
    left: 0
    min-height: 130px
    padding: 15px 0 15px 15px
    position: absolute
    top: 0
    width: 145px
    img
      display: block
      height: 100px
      width: 130px
    &:hover
      opacity: 0.9
    &:active
      opacity: 0.8
  a:hover
    text-decoration: underline
  .carbon-text
    display: block
    color: $text-strong
    line-height: 20px
    padding: 15px 15px 35px 160px
  .carbon-poweredby
    bottom: 10px
    color: $text-light
    display: inline
    font-size: $size-small
    position: absolute
    right: 10px