.bd-main
  overflow: hidden
  position: relative

// Lead

.bd-lead
  // border: 1px solid lightskyblue
  position: relative

.bd-breadcrumb
  margin-bottom: 2.5rem

.bd-header
  margin-bottom: 2.5rem
  .subtitle
    color: $text-light
    strong
      color: currentColor

// Side

.bd-side,
.bd-side-background
  background-color: $white-bis
  // border: 1px solid coral

.bd-side
  position: relative

.bd-side-background
  bottom: 0
  left: 50%
  position: absolute
  right: 0
  top: 0

+touch
  .bd-lead,
  .bd-side
    padding: 1.5rem

+mobile
  .bd-side-background
    display: none

+tablet
  .bd-duo
    display: flex
  .bd-lead
    background-color: $white
    overflow: hidden
    flex-grow: 1
    flex-shrink: 1
  .bd-side
    flex: 0 0 300px

+desktop
  .bd-main
    padding: 0 3rem
  .bd-lead
    padding: 3rem 3rem 3rem 0
  .bd-side
    padding: 3rem 0 3rem 1.5rem
