.button
  +tablet
    small
      color: $text
      left: 0
      margin-top: 10px
      position: absolute
      top: 100%
      width: 100%

body.page-grid .column > .notification
  padding-left: 0
  padding-right: 0
  text-align: center

+tablet
  .header-item .button + .button
    margin-left: 0.75rem
