.content
  .bd-spaced
    li + li
      margin-top: 1em
  .highlighter-rouge
    &:not(:last-child)
      margin-bottom: 1.5rem

body.page-grid .column > .notification
  padding-left: 0
  padding-right: 0
  text-align: center

a.navbar-item
  & > .icon:not(:last-child)
    margin-left: -0.25em
    margin-right: 0.25em

+tablet
  .header-item .button + .button
    margin-left: 0.75rem
