.content
  .highlighter-rouge
    &:not(:last-child)
      margin-bottom: 1.5rem

body.page-grid .column > .notification
  padding-left: 0
  padding-right: 0
  text-align: center

+tablet
  .header-item .button + .button
    margin-left: 0.75rem
