.bd-patreon
  align-items: center
  background-color: $patreon-blue
  color: $white
  display: flex
  justify-content: center
  padding: 0.5rem 1rem
  strong
    color: currentColor

.bd-patreon-text
  font-size: 0.875rem
  line-height: 1.25
  margin-right: 0.5rem

.bd-patreon-button
  display: inline-block
  flex-shrink: 0
  height: 34px
  width: 145px
  img
    max-height: 100%

.hero.bd-is-patreon
  background-color: $patreon

+from(480px)
  .bd-patreon-text
    margin-right: 1rem
