html.route-index
  .title.is-2
    position: relative
  .title.is-2 a
    color: $text-strong
    position: relative
  .title.is-2 a:hover
    color: $blue
  .title.is-2 .icon.is-medium
    left: -80px
    opacity: 0.1
    position: absolute
    top: 10px
    .fa
      font-size: 56px
  .hero .title.is-2 a
    color: $white
  .hero .title.is-2 a:hover
    color: $white
  .hero.is-primary a.column,
  .hero.is-primary a.column:hover
    color: $white
  .hero.is-primary a.column:hover .title strong
    border-bottom: 1px solid
  @media screen and (max-width: 979px)
    .title.is-2 a
      padding-left: 0
    .title.is-2 .icon.is-medium
      display: none
