html.route-index
  .title.is-2
    position: relative

  .title.is-2 a
    color: #242424
    padding-left: 48px
    position: relative

  .title.is-2 a:hover
    color: #00d1b2

  .title.is-2 .icon.is-medium
    left: 8px
    position: absolute
    top: 10px

  .hero .title.is-2 a
    color: white

  .hero .title.is-2 a:hover
    color: white

  .hero.is-primary a.column,
  .hero.is-primary a.column:hover
    color: white

  .hero.is-primary a.column:hover .title strong
    border-bottom: 1px solid

  @media screen and (max-width: 979px)
    .title.is-2 a
      padding-left: 0

    .title.is-2 .icon.is-medium
      display: none
