#images
  tr
    td:nth-child(2)
      width: 320px

.color
  border-radius: 2px
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1)
  display: inline-block
  float: left
  height: 24px
  margin-right: 8px
  width: 24px

.button.is-rss
  background-color: #f26522
  border-color: transparent
  color: #fff
  &:hover
    background-color: darken(#f26522, 5%)
  &:active
    background-color: darken(#f26522, 10%)

.view-all-versions
  color: $text-light
  &:hover
    text-decoration: underline

.feature-title
  color: $text-light
  a
    border-bottom: 1px solid transparent
    color: $text-strong
    &:hover
      border-bottom-color: $primary

.anchor-title
  padding-top: 1.5rem
  position: relative
  +until($widescreen)
    padding-left: 2rem

.anchor-link
  position: absolute
  right: calc(100% + 1rem)
  +until($widescreen)
    left: 0
    right: auto

.article-image
  background-color: $primary
  display: block
  height: 240px
  margin-left: auto
  margin-right: auto
  position: relative
  text-align: center
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      background-color: $color
  &.is-bootstrap
    background-color: $bootstrap
  &.is-orange
    background-color: $orange
  &:hover
    .article-overlay
      opacity: 0.25
    .article-icon
      transform: scale(1.4)
    .article-date
      transform: scale(0.9)
    .article-title
      transform: scale(1.1)
  &.is-single
    margin-bottom: 2rem
    width: 100%

.article-overlay
  +overlay
  background-color: $black
  opacity: 0
  transition-duration: $speed
  transition-property: opacity
  transition-timing-function: $easing

.article-icon,
.article-info
  +overlay
  align-items: center
  display: flex
  justify-content: center

.article-icon,
.article-date,
.article-title
  transition-duration: $speed
  transition-property: transform
  transition-timing-function: $easing

.article-icon
  color: $black
  opacity: 0.25
  & > span
    display: block
  .fa
    font-size: 56px

.article-info
  padding: 20px

.article-date
  color: rgba(#000, 0.5)
  display: block

.article-title
  color: $white
  display: block
  font-size: 2.5rem
  font-weight: $weight-bold
  line-height: 1.25
  padding: 0 20px

.emoji
  margin-right: 0.5em
  margin-top: 2px