.bd-sponsors
  align-items: center
  display: flex
  a
    align-items: center
    display: flex
    justify-content: center
    margin-right: 3rem
    width: 150px

.bd-partner-sponsors
  align-items: center
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  a
    align-items: center
    display: flex
    justify-content: center
    margin-right: 1rem
    min-height: $carbon-height

.bd-partners
  background-color: $white-bis
  #carbonads
    .carbon-text
      padding-bottom: 0
    .carbon-poweredby
      display: none

.bd-partner-title
  color: $grey-light
  font-size: 0.875rem
  margin-bottom: 1rem

+tablet
  .bd-partners-list
    align-items: flex-start
    display: flex
    margin-left: auto
    margin-right: auto
    max-width: 1040px
  .bd-partner
    &.bd-is-sponsor
      flex-grow: 1
      flex-shrink: 1
    &.bd-is-carbon
      flex-grow: 0
      flex-shrink: 0
      margin-left: ($main-spacing * 2)
      width: $carbon-width
