.bd-sponsors
  align-items: center
  display: flex
  a
    align-items: center
    display: flex
    justify-content: center
    margin-right: 3rem
    width: 150px

.bd-sponsor
  margin-left: auto
  margin-right: auto
  text-align: center

.bd-sponsor-title
  font-size: $size-small
  margin-bottom: 1em
  opacity: 0.5

.bd-sponsor-list
  align-items: center
  display: flex
  justify-content: center
  a
    align-items: center
    display: flex
    justify-content: center
    width: 200px
