.tws
  display: flex
  flex-wrap: wrap
  overflow: auto
  padding: 20px

.tw
  color: #697882
  flex-shrink: 0
  font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif
  font-size: 16px
  // height: 270px
  line-height: 1.4
  padding: 10px
  width: 520px
  a
    color: currentColor
  p
    color: #1c2022
    font-size: 16px
    margin-bottom: 3.2px
    a
      color: #2b7bb9

.twitter-tweet:not(.twitter-tweet-rendered)
  background-color: $white
  border: 1px solid #e1e8ed
  border-radius: 5px
  color: #697882
  font-size: 14px
  padding: 20px 20px 11.6px
  a
    color: currentColor
    &:hover
      text-decoration: underline
  p
    color: #1c2022
    font-size: 16px
    margin-bottom: 3.2px
    a
      color: #2b7bb9

.twitter-tweet-rendered
  border: none
  border-radius: 0
  margin: 0 !important
  padding: 0 !important