%section {
  background-color: $white;
  padding: 3rem 1.5rem;

  // Responsiveness
  @include desktop {
    // Sizes
    &%isMedium {
      padding: 9rem 1.5rem;
    }

    &%isLarge {
      padding: 18rem 1.5rem;
    }
  }
}
