.bd-anchor-title {
  --p: 0rem;
  padding-top: var(--p);
  position: relative;

  &:not(:first-child) {
    --p: 1.5rem;
  }
}

.bd-anchor-link {
  position: absolute;
  color: var(--theme-color);
  right: calc(100% + 0.2875em);
  top: var(--p);
}
