$pagination: $grey-darker !default;
$pagination-background: $white !default;
$pagination-border: $grey-lighter !default;

$pagination-hover: $link-hover !default;
$pagination-hover-border: $link-hover-border !default;

$pagination-focus: $link-focus !default;
$pagination-focus-border: $link-focus-border !default;

$pagination-active: $link-active !default;
$pagination-active-border: $link-active-border !default;

$pagination-disabled: $grey !default;
$pagination-disabled-background: $grey-lighter !default;
$pagination-disabled-border: $grey-lighter !default;

$pagination-current: $link-invert !default;
$pagination-current-background: $link !default;
$pagination-current-border: $link !default;

$pagination-ellipsis: $grey-light !default;

$pagination-shadow-inset: inset 0 1px 2px rgba($black, 0.2);

%pagination {
  font-size: $size-normal;
  margin: -0.25rem;

  // Sizes
  &%isSmall {
    font-size: $size-small;
  }

  &%isMedium {
    font-size: $size-medium;
  }

  &%isLarge {
    font-size: $size-large;
  }
}

%pagination,
%paginationList {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

%paginationPrevious,
%paginationNext,
%paginationLink,
%paginationEllipsis {
  @include control;
  @include unselectable;

  font-size: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  justify-content: center;
  margin: 0.25rem;
  text-align: center;
}

%paginationPrevious,
%paginationNext,
%paginationLink {
  border-color: $pagination-border;
  min-width: 2.25em;

  &:hover {
    border-color: $pagination-hover-border;
    color: $pagination-hover;
  }

  &:focus {
    border-color: $pagination-focus-border;
  }

  &:active {
    box-shadow: $pagination-shadow-inset;
  }

  &[disabled] {
    background-color: $pagination-disabled-background;
    border-color: $pagination-border;
    box-shadow: none;
    color: $pagination-disabled;
    opacity: 0.5;
  }
}

%paginationPrevious,
%paginationNext {
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

%paginationLink {
  &%isCurrent {
    background-color: $pagination-current-background;
    border-color: $pagination-current-border;
    color: $pagination-current;
  }
}

%paginationEllipsis {
  color: $pagination-ellipsis;
  pointer-events: none;
}

%paginationList {
  flex-wrap: wrap;
}

@include mobile {
  %pagination {
    flex-wrap: wrap;
  }

  %paginationPrevious,
  %paginationNext {
    flex-grow: 1;
    flex-shrink: 1;
  }

  %paginationList {
    li {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}


@include tablet {
  %paginationList {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;
    order: 1;
  }

  %paginationPrevious {
    order: 2;
  }

  %paginationNext {
    order: 3;
  }

  %pagination {
    justify-content: space-between;

    &%isCentered {
      %paginationPrevious {
        order: 1;
      }

      %paginationList {
        justify-content: center;
        order: 2;
      }

      %paginationNext {
        order: 3;
      }
    }

    &%isRight {
      %paginationPrevious {
        order: 1;
      }

      %paginationNext {
        order: 2;
      }

      %paginationList {
        justify-content: flex-end;
        order: 3;
      }
    }
  }
}
