$box-color: var(--text, #{$text}) !default
$box-background-color: var(--scheme-main, #{$scheme-main}) !default
$box-radius: var(--radius-large, #{$radius-large}) !default
$box-shadow-color: rgba(var(--scheme-invert-rgb, #{bulmaToRGB($black)}), 0.1) !default
$box-shadow-color-bis: rgba(var(--scheme-invert-rgb, #{bulmaToRGB($black)}), 0.02) !default
$box-shadow: 0 0.5em 1em -0.125em $box-shadow-color, 0 0px 0 1px $box-shadow-color-bis !default
$box-padding: 1.25rem !default

$box-link-hover-shadow-color: rgba(var(--scheme-invert-rgb, #{bulmaToRGB($black)}), 0.1) !default
$box-link-hover-shadow-color-bis: var(--link, #{$link}) !default
$box-link-hover-shadow: 0 0.5em 1em -0.125em $box-link-hover-shadow-color, 0 0 0 1px $box-link-hover-shadow-color-bis !default
$box-link-active-shadow-color: rgba(var(--scheme-invert-rgb, #{bulmaToRGB($black)}), 0.2) !default
$box-link-active-shadow-color-bis: var(--link, #{$link}) !default
$box-link-active-shadow: inset 0 1px 2px $box-link-active-shadow-color, 0 0 0 1px $box-link-active-shadow-color-bis !default

.box
  --box-background-color: #{$box-background-color}
  --box-radius: #{$box-radius}
  --box-shadow: #{$box-shadow}
  --box-color: #{$box-color}
  --box-padding: #{$box-padding}
  --box-link-hover-shadow: #{$box-link-hover-shadow}
  --box-link-active-shadow: #{$box-link-active-shadow}
  @extend %block
  background-color: var(--box-background-color)
  border-radius: var(--box-radius)
  box-shadow: var(--box-shadow)
  color: var(--box-color)
  display: block
  padding: var(--box-padding)

a.box
  &:hover,
  &:focus
    box-shadow: var(--box-link-hover-shadow)
  &:active
    box-shadow: var(--box-link-active-shadow)
