@import "../utilities/mixins";

$container-offset: calc(2 * #{getVar("gap")}) !default;
$container-max-width: $fullhd !default;

:root {
  @include register-vars(
    (
      container-offset: #{$container-offset},
    )
  );
}

.#{$class-prefix}container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;

  &.is-fluid {
    max-width: none !important;
    padding-left: getVar("gap");
    padding-right: getVar("gap");
    width: 100%;
  }

  @include desktop {
    max-width: calc(#{$desktop} - #{getVar("container-offset")});
  }

  @include until-widescreen {
    &.is-widescreen:not(.is-max-desktop) {
      max-width: calc(
        #{min($widescreen, $container-max-width)} - #{getVar(
            "container-offset"
          )}
      );
    }
  }

  @include until-fullhd {
    &.is-fullhd:not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: calc(
        #{min($fullhd, $container-max-width)} - #{getVar("container-offset")}
      );
    }
  }

  @include widescreen {
    &:not(.is-max-desktop) {
      max-width: calc(
        #{min($widescreen, $container-max-width)} - #{getVar(
            "container-offset"
          )}
      );
    }
  }

  @include fullhd {
    &:not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: calc(
        #{min($fullhd, $container-max-width)} - #{getVar("container-offset")}
      );
    }
  }
}
