$img-size-array: ( "1by1": "100%", "5by4": "80%", "4by3": "75%", "3by2": "66.6666%", "5by3": "60%", "16by9": "56.25%", "2by1": "50%", "3by1": "33.3333%", "4by5": "125%", "3by4": "133.3333%", "2by3": "150%", "3by5": "166.6666%", "9by16": "177.7777%", "1by2": "200%", "1by3": "300%" ) !default

$device-size-list: "mobile", "tablet", "tablet-only", "touch", "desktop", "desktop-only", "until-widescreen", "widescreen", "widescreen-only", "until-fullhd", "fullhd" !default

@if index( $device-size-list, "mobile" )
  +mobile
    @each $img-size, $img-padding in $img-size-array
      .image.is-#{$img-size}-mobile
        padding-top: #{$img-padding} !important

@if index( $device-size-list, "tablet" )
  +tablet
    @each $img-size, $img-padding in $img-size-array
      .image.is-#{$img-size}-tablet
        padding-top: #{$img-padding} !important

@if index( $device-size-list, "tablet-only" )
  +tablet-only
    @each $img-size, $img-padding in $img-size-array
      .image.is-#{$img-size}-tablet-only
        padding-top: #{$img-padding} !important

@if index( $device-size-list, "touch" )
  +touch
    @each $img-size, $img-padding in $img-size-array
      .image.is-#{$img-size}-touch
        padding-top: #{$img-padding} !important

@if index( $device-size-list, "desktop" )
  +desktop
    @each $img-size, $img-padding in $img-size-array
      .image.is-#{$img-size}-desktop
        padding-top: #{$img-padding} !important

@if index( $device-size-list, "desktop-only" )
  +desktop-only
    @each $img-size, $img-padding in $img-size-array
      .image.is-#{$img-size}-desktop-only
        padding-top: #{$img-padding} !important

@if index( $device-size-list, "until-widescreen" )
  +until-widescreen
    @each $img-size, $img-padding in $img-size-array
      .image.is-#{$img-size}-until-widescreen
        padding-top: #{$img-padding} !important

@if index( $device-size-list, "widescreen" )
  +widescreen
    @each $img-size, $img-padding in $img-size-array
      .image.is-#{$img-size}-widescreen
        padding-top: #{$img-padding} !important

@if index( $device-size-list, "widescreen-only" )
  +widescreen-only
    @each $img-size, $img-padding in $img-size-array
      .image.is-#{$img-size}-widescreen-only
        padding-top: #{$img-padding} !important

@if index( $device-size-list, "until-fullhd" )
  +until-fullhd
    @each $img-size, $img-padding in $img-size-array
      .image.is-#{$img-size}-until-fullhd
        padding-top: #{$img-padding} !important

@if index( $device-size-list, "fullhd" )
  +fullhd
    @each $img-size, $img-padding in $img-size-array
      .image.is-#{$img-size}-fullhd
        padding-top: #{$img-padding} !important
