$list-border: 1px solid $border !default
$list-background-color: $white !default
$list-radius: $radius !default

$list-item-border: 1px solid $border !default
$list-item-hover-color: $background !default

.list
  background-color: $list-background-color
  border: $list-border
  border-radius: $list-radius
  .list-item
    color: black
    cursor: default
    display: flex
    justify-content: flex-start
    padding: 8px 16px
    &:not(:last-child)
      border-bottom: $list-item-border
  & .is-hoverable:hover
    background-color: $list-item-hover-color
    cursor: pointer
