@import "../utilities/mixins"

.block
  @extend %block

.delete
  @extend %delete

.heading
  display: block
  font-size: 11px
  letter-spacing: 1px
  margin-bottom: 5px
  text-transform: uppercase

.loader
  @extend %loader

.number
  @extend %number
