// Default colors

:root {

  // Colors

  --black:              #{$black};
  --black-bis:          #{$black-bis};
  --black-ter:          #{$black-ter};

  --grey-darker:        #{$grey-darker};
  --grey-dark:          #{$grey-dark};
  --grey:               #{$grey};
  --grey-light:         #{$grey-light};
  --grey-lighter:       #{$grey-lighter};
  --grey-lightest:      #{$grey-lightest};

  --white-ter:          #{$white-ter};
  --white-bis:          #{$white-bis};
  --white:              #{$white};
}