\:root
  // Initial variables
  --family-sans-serif: #{$family-sans-serif}
  --family-monospace: #{$family-monospace}
  --weight-light: #{$weight-light}
  --weight-normal: #{$weight-normal}
  --weight-medium: #{$weight-medium}
  --weight-semibold: #{$weight-semibold}
  --weight-bold: #{$weight-bold}
  --block-spacing: #{$block-spacing}
  --easing: #{$easing}
  --radius-small: #{$radius-small}
  --radius: #{$radius}
  --radius-large: #{$radius-large}
  --radius-rounded: #{$radius-rounded}
  --speed: #{$speed}
  // Derived
  --scheme-main: #{$scheme-main}
  --scheme-main-bis: #{$scheme-main-bis}
  --scheme-main-ter: #{$scheme-main-ter}
  --scheme-invert: #{$scheme-invert}
  --scheme-invert-rgb: #{$scheme-invert-rgb}
  --scheme-invert-bis: #{$scheme-invert-bis}
  --scheme-invert-ter: #{$scheme-invert-ter}
  --background: #{$background}
  --border: #{$border}
  --border-rgb: #{$border-rgb}
  --border-hover: #{$border-hover}
  --border-light: #{$border-light}
  --border-light-hover: #{$border-light-hover}
  --text: #{$text}
  --text-invert: #{$text-invert}
  --text-light: #{$text-light}
  --text-strong: #{$text-strong}
  --code: #{$code}
  --code-background: #{$code-background}
  --pre: #{$pre}
  --pre-background: #{$pre-background}
  --link-visited: #{$link-visited}
  --link-hover: #{$link-hover}
  --link-hover-border: #{$link-hover-border}
  --link-focus: #{$link-focus}
  --link-focus-border: #{$link-focus-border}
  --link-active: #{$link-active}
  --link-active-border: #{$link-active-border}
  --family-primary: #{$family-primary}
  --family-secondary: #{$family-secondary}
  --family-code: #{$family-code}
  --size-small: #{$size-small}
  --size-normal: #{$size-normal}
  --size-medium: #{$size-medium}
  --size-large: #{$size-large}
  // Color Maps
  +registerCSSVarColors($colors)
  +registerCSSVarColors($shades)
  // Controls
  --control-font-size: #{$control-font-size}
  --control-radius: #{$control-radius}
  --control-radius-small: #{$control-radius-small}
  --control-border-width: #{$control-border-width}
  --control-height: #{$control-height}
  --control-line-height: #{$control-line-height}
  --control-padding-vertical: #{$control-padding-vertical}
  --control-padding-horizontal: #{$control-padding-horizontal}
  // Inputs
  --input-color: #{$input-color}
  --input-background-color: #{$input-background-color}
  --input-border-color: #{$input-border-color}
  --input-height: #{$input-height}
  --input-shadow: #{$input-shadow}
  --input-placeholder-color: #{$input-placeholder-color}
  --input-hover-color: #{$input-hover-color}
  --input-hover-border-color: #{$input-hover-border-color}
  --input-focus-color: #{$input-focus-color}
  --input-focus-border-color: #{$input-focus-border-color}
  --input-focus-box-shadow-size: #{$input-focus-box-shadow-size}
  --input-focus-box-shadow-color: #{$input-focus-box-shadow-color}
  --input-disabled-color: #{$input-disabled-color}
  --input-disabled-background-color: #{$input-disabled-background-color}
  --input-disabled-border-color: #{$input-disabled-border-color}
  --input-disabled-placeholder-color: #{$input-disabled-placeholder-color}
  --input-arrow: #{$input-arrow}
  --input-icon-color: #{$input-icon-color}
  --input-icon-active-color: #{$input-icon-active-color}
  --input-radius: #{$input-radius}
