// Dark theme

@mixin dark-fallback {
  color-scheme: dark;

  // Colors

  --orange:             #{$orange};
  --yellow:             #{$yellow};
  --green:              #{$green};
  --turquoise:          #{$turquoise};
  --cyan:               #{$cyan};
  --blue:               #{$blue};
  --purple:             #{$purple};
  --red:                #{$red};

  // Derived colors

  --primary:            var(--turquoise);

  --info:               var(--cyan);
  --success:            var(--green);
  --warning:            var(--yellow);
  --danger:             var(--red);

  --light:              var(--white-ter);
  --dark:               var(--grey-darker);

  // Invert colors

  --orange-invert:      #{$orange-invert};
  --yellow-invert:      #{$yellow-invert};
  --green-invert:       #{$green-invert};
  --turquoise-invert:   #{$turquoise-invert};
  --cyan-invert:        #{$cyan-invert};
  --blue-invert:        #{$blue-invert};
  --purple-invert:      #{$purple-invert};
  --red-invert:         #{$red-invert};
  
  --primary-invert:     #fff;
  --primary-light:      #ebfffc;
  --primary-dark:       #00947e;
  --info-invert:        #fff;
  --info-light:         #eff5fb;
  --info-dark:          #296fa8;
  --success-invert:     #fff;
  --success-light:      #effaf5;
  --success-dark:       #257953;
  --warning-invert:     rgba(0, 0, 0, 0.7);
  --warning-light:      #fffaeb;
  --warning-dark:       #946c00;
  --danger-invert:      #fff;
  --danger-light:       #feecf0;
  --danger-dark:        #cc0f35;
  --light-invert:       rgba(0, 0, 0, 0.7);
  --dark-invert:        #fff;

  // General colors

  --scheme-main:        var(--white);
  --scheme-main-bis:    var(--white-bis);
  --scheme-main-ter:    var(--white-ter);
  --scheme-invert:      var(--black);
  --scheme-invert-bis:  var(--black-bis);
  --scheme-invert-ter:  var(--black-ter);

  --background:         var(--white-ter);

  --border:             var(--grey-lighter);
  --border-hover:       var(--grey-light);
  --border-light:       var(--grey-lightest);
  --border-light-hover: var(--grey-light);

  // Text colors

  --text:               var(--grey-dark);
  --text-invert:        var(--grey-light);
  --text-light:         var(--grey);
  --text-strong:        var(--grey-darker);

  // Code colors

  --code:               #da1039;
  --code-background:    var(--background);

  --pre:                var(--text);
  --pre-background:     var(--background);

  // Link colors

  --link:               var(--blue);
  --link-invert:        #fff;
  --link-light:         #eff1fa;
  --link-dark:          #3850b7;
  --link-visited:       var(--purple);

  --link-hover:         var(--grey-darker);
  --link-hover-border:  var(--grey-light);

  --link-focus:         var(--grey-darker);
  --link-focus-border:  var(--blue);

  --link-active:        var(--grey-darker);
  --link-active-border: var(--grey-dark);
}