// $scheme-main: $black;
// $scheme-main-bis: $black-bis;
// $scheme-main-ter: $black-ter;
// $scheme-invert: $white;
// $scheme-invert-bis: $white-bis;
// $scheme-invert-ter: $white-ter;

// $background: $black-ter;

// $border: $grey-darker;
// $border-hover: $grey-dark;
// $border-light: $grey-darker;
// $border-light-hover: $grey-dark;

// $text: $grey-light;
// $text-invert: $grey-darker;
// $text-light: $grey;
// $text-strong: $white;

// $link-hover: $white;
// $link-hover-border: $grey-dark;

// $link-focus: $white;
// $link-focus-border: $blue;

// $link-active: $white;
// $link-active-border: $grey-light;

@include bulma-theme($name: "dark") {
  @include register-vars(
    (
      scheme-main: #{$black-bis},
      scheme-main-bis: #{$black-ter},
      scheme-main-ter: #{$grey-darker},
      scheme-invert: #{$white},
      scheme-invert-bis: #{$white-bis},
      scheme-invert-ter: #{$white-ter},

      background: #{$black-ter},

      border: #{$grey-darker},
      border-hover: #{$grey-dark},
      border-light: #{$grey-darker},
      border-light-hover: #{$grey-dark},

      text: #{$grey-light},
      text-invert: #{$grey-darker},
      text-light: #{$grey},
      text-strong: #{$white},

      link-hover: #{$white},
      link-hover-border: #{$grey-dark},

      link-focus: #{$white},
      link-focus-border: #{$blue},

      link-active: #{$white},
      link-active-border: #{$grey-light},

      shadow: #{0 0.5em 1em -0.125em rgba($white, 0.2),
      0 0px 0 1px rgba($white, 0.04)},
    )
  );
}
