// Light theme

@mixin light-fallback {
  color-scheme: light;

  // Colors

  --orange:             #{$orange};
  --yellow:             #{$yellow};
  --green:              #{$green};
  --turquoise:          #{$turquoise};
  --cyan:               #{$cyan};
  --blue:               #{$blue};
  --purple:             #{$purple};
  --red:                #{$red};

  // Derived colors

  --primary:            #{$primary};

  --info:               #{$info};
  --success:            #{$success};
  --warning:            #{$warning};
  --danger:             #{$danger};

  --light:              #{$light};
  --dark:               #{$dark};

  // Invert colors

  --orange-invert:      #{$orange-invert};
  --yellow-invert:      #{$yellow-invert};
  --green-invert:       #{$green-invert};
  --turquoise-invert:   #{$turquoise-invert};
  --cyan-invert:        #{$cyan-invert};
  --blue-invert:        #{$blue-invert};
  --purple-invert:      #{$purple-invert};
  --red-invert:         #{$red-invert};

  --primary-invert:     #{$primary-invert};
  --primary-light:      #{$primary-light};
  --primary-dark:       #{$primary-dark};
  --info-invert:        #{$info-invert};
  --info-light:         #{$info-light};
  --info-dark:          #{$info-dark};
  --success-invert:     #{$success-invert};
  --success-light:      #{$success-light};
  --success-dark:       #{$success-dark};
  --warning-invert:     #{$warning-invert};
  --warning-light:      #{$warning-light};
  --warning-dark:       #{$warning-dark};
  --danger-invert:      #{$danger-invert};
  --danger-light:       #{$danger-light};
  --danger-dark:        #{$danger-dark};
  --light-invert:       #{$light-invert};
  --dark-invert:        #{$dark-invert};

  // General colors

  --scheme-main:        #{$scheme-main};
  --scheme-main-bis:    #{$scheme-main-bis};
  --scheme-main-ter:    #{$scheme-main-ter};
  --scheme-invert:      #{$scheme-invert};
  --scheme-invert-bis:  #{$scheme-invert-bis};
  --scheme-invert-ter:  #{$scheme-invert-ter};

  --background:         #{$background};

  --border:             #{$border};
  --border-hover:       #{$border-hover};
  --border-light:       #{$border-light};
  --border-light-hover: #{$border-light-hover};

  // Text colors

  --text:               #{$text};
  --text-invert:        #{$text-invert};
  --text-light:         #{$text-light};
  --text-strong:        #{$text-strong};

  // Code colors

  --code:               #{$code};
  --code-background:    #{$code-background};

  --pre:                #{$pre};
  --pre-background:     #{$pre-background};

  // Link colors

  --link:               #{$link};
  --link-invert:        #{$link-invert};
  --link-light:         #{$link-light};
  --link-dark:          #{$link-dark};
  --link-visited:       #{$link-visited};

  --link-hover:         #{$link-hover};
  --link-hover-border:  #{$link-hover-border};

  --link-focus:         #{$link-focus};
  --link-focus-border:  #{$link-focus-border};

  --link-active:        #{$link-active};
  --link-active-border: #{$link-active-border};
}