@use "../utilities/initial-variables" as iv;

@each $pair in iv.$aspect-ratios {
  $w: nth($pair, 1);
  $h: nth($pair, 2);

  .#{iv.$helpers-prefix}aspect-ratio-#{$w}by#{$h} {
    aspect-ratio: #{$w} / #{$h};
  }
}
