.is-flex {
  display: flex
}

.is-flex-row {
  flex-direction: row
}

.is-flex-row-revered {
  flex-direction: row-reverse
}

.is-flex-column {
  flex-direction: column
}

.is-flex-column-revered {
  flex-direction: column-reverse
}

.is-justified-start {
  justify-content: flex-start
}

.is-justified-center {
  justify-content: center
}

.is-justified-end {
  justify-content: flex-end
}

.is-justified-around {
  justify-content: space-around
}

.is-justified-between {
  justify-content: space-between
}

.is-aligned-start {
  align-items: flex-start
}

.is-aligned-center {
  align-items: center
}

.is-aligned-end {
  align-items: flex-end
}

