$flex-direction-values: row, row-reverse, column, column-reverse
@each $value in $flex-direction-values
  .is-flex-direction-#{$value}
    flex-direction: $value !important
  +mobile
    .is-flex-direction-#{$value}-mobile
      flex-direction: $value !important
  +tablet
    .is-flex-direction-#{$value}-tablet
      flex-direction: $value !important
  +tablet-only
    .is-flex-direction-#{$value}-tablet-only
      flex-direction: $value !important
  +touch
    .is-flex-direction-#{$value}-touch
      flex-direction: $value !important
  +desktop
    .is-flex-direction-#{$value}-desktop
      flex-direction: $value !important
  +desktop-only
    .is-flex-direction-#{$value}-desktop-only
      flex-direction: $value !important
  +widescreen
    .is-flex-direction-#{$value}-widescreen
      flex-direction: $value !important
  +widescreen-only
    .is-flex-direction-#{$value}-widescreen-only
      flex-direction: $value !important
  +fullhd
    .is-flex-direction-#{$value}-fullhd
      flex-direction: $value !important

$flex-wrap-values: nowrap, wrap, wrap-reverse
@each $value in $flex-wrap-values
  .is-flex-wrap-#{$value}
    flex-wrap: $value !important
  +mobile
    .is-flex-wrap-#{$value}-mobile
      flex-wrap: $value !important
  +tablet
    .is-flex-wrap-#{$value}-tablet
      flex-wrap: $value !important
  +tablet-only
    .is-flex-wrap-#{$value}-tablet-only
      flex-wrap: $value !important
  +touch
    .is-flex-wrap-#{$value}-touch
      flex-wrap: $value !important
  +desktop
    .is-flex-wrap-#{$value}-desktop
      flex-wrap: $value !important
  +desktop-only
    .is-flex-wrap-#{$value}-desktop-only
      flex-wrap: $value !important
  +widescreen
    .is-flex-wrap-#{$value}-widescreen
      flex-wrap: $value !important
  +widescreen-only
    .is-flex-wrap-#{$value}-widescreen-only
      flex-wrap: $value !important
  +fullhd
    .is-flex-wrap-#{$value}-fullhd
      flex-wrap: $value !important

$justify-content-values: flex-start, flex-end, center, space-between, space-around, space-evenly, start, end, left, right
@each $value in $justify-content-values
  .is-justify-content-#{$value}
    justify-content: $value !important
  +mobile
    .is-justify-content-#{$value}-mobile
      justify-content: $value !important
  +tablet
    .is-justify-content-#{$value}-tablet
      justify-content: $value !important
  +tablet-only
    .is-justify-content-#{$value}-tablet-only
      justify-content: $value !important
  +touch
    .is-justify-content-#{$value}-touch
      justify-content: $value !important
  +desktop
    .is-justify-content-#{$value}-desktop
      justify-content: $value !important
  +desktop-only
    .is-justify-content-#{$value}-desktop-only
      justify-content: $value !important
  +widescreen
    .is-justify-content-#{$value}-widescreen
      justify-content: $value !important
  +widescreen-only
    .is-justify-content-#{$value}-widescreen-only
      justify-content: $value !important
  +fullhd
    .is-justify-content-#{$value}-fullhd
      justify-content: $value !important

$align-content-values: flex-start, flex-end, center, space-between, space-around, space-evenly, stretch, start, end, baseline
@each $value in $align-content-values
  .is-align-content-#{$value}
    align-content: $value !important
  +mobile
    .is-align-content-#{$value}-mobile
      align-content: $value !important
  +tablet
    .is-align-content-#{$value}-tablet
      align-content: $value !important
  +tablet-only
    .is-align-content-#{$value}-tablet-only
      align-content: $value !important
  +touch
    .is-align-content-#{$value}-touch
      align-content: $value !important
  +desktop
    .is-align-content-#{$value}-desktop
      align-content: $value !important
  +desktop-only
    .is-align-content-#{$value}-desktop-only
      align-content: $value !important
  +widescreen
    .is-align-content-#{$value}-widescreen
      align-content: $value !important
  +widescreen-only
    .is-align-content-#{$value}-widescreen-only
      align-content: $value !important
  +fullhd
    .is-align-content-#{$value}-fullhd
      align-content: $value !important

$align-items-values: stretch, flex-start, flex-end, center, baseline, start, end, self-start, self-end
@each $value in $align-items-values
  .is-align-items-#{$value}
    align-items: $value !important
  +mobile
    .is-align-items-#{$value}-mobile
      align-items: $value !important
  +tablet
    .is-align-items-#{$value}-tablet
      align-items: $value !important
  +tablet-only
    .is-align-items-#{$value}-tablet-only
      align-items: $value !important
  +touch
    .is-align-items-#{$value}-touch
      align-items: $value !important
  +desktop
    .is-align-items-#{$value}-desktop
      align-items: $value !important
  +desktop-only
    .is-align-items-#{$value}-desktop-only
      align-items: $value !important
  +widescreen
    .is-align-items-#{$value}-widescreen
      align-items: $value !important
  +widescreen-only
    .is-align-items-#{$value}-widescreen-only
      align-items: $value !important
  +fullhd
    .is-align-items-#{$value}-fullhd
      align-items: $value !important

$align-self-values: auto, flex-start, flex-end, center, baseline, stretch
@each $value in $align-self-values
  .is-align-self-#{$value}
    align-self: $value !important
  +mobile
    .is-align-self-#{$value}-mobile
      align-self: $value !important
  +tablet
    .is-align-self-#{$value}-tablet
      align-self: $value !important
  +tablet-only
    .is-align-self-#{$value}-tablet-only
      align-self: $value !important
  +touch
    .is-align-self-#{$value}-touch
      align-self: $value !important
  +desktop
    .is-align-self-#{$value}-desktop
      align-self: $value !important
  +desktop-only
    .is-align-self-#{$value}-desktop-only
      align-self: $value !important
  +widescreen
    .is-align-self-#{$value}-widescreen
      align-self: $value !important
  +widescreen-only
    .is-align-self-#{$value}-widescreen-only
      align-self: $value !important
  +fullhd
    .is-align-self-#{$value}-fullhd
      align-self: $value !important

$flex-operators: grow, shrink
@each $operator in $flex-operators
  @for $i from 0 through 5
    .is-flex-#{$operator}-#{$i}
      flex-#{$operator}: $i !important
    +mobile
    .is-flex-#{$operator}-#{$i}-mobile
      flex-#{$operator}: $i !important
    +tablet
      .is-flex-#{$operator}-#{$i}-tablet
        flex-#{$operator}: $i !important
    +tablet-only
      .is-flex-#{$operator}-#{$i}-tablet-only
        flex-#{$operator}: $i !important
    +touch
      .is-flex-#{$operator}-#{$i}-touch
        flex-#{$operator}: $i !important
    +desktop
      .is-flex-#{$operator}-#{$i}-desktop
        flex-#{$operator}: $i !important
    +desktop-only
      .is-flex-#{$operator}-#{$i}-desktop-only
        flex-#{$operator}: $i !important
    +widescreen
      .is-flex-#{$operator}-#{$i}-widescreen
        flex-#{$operator}: $i !important
    +widescreen-only
      .is-flex-#{$operator}-#{$i}-widescreen-only
        flex-#{$operator}: $i !important
    +fullhd
      .is-flex-#{$operator}-#{$i}-fullhd
        flex-#{$operator}: $i !important
