@import "../utilities/mixins"

.is-radiusless
  border-radius: 0 !important

.is-borderless
  border: none !important
.is-borderless-top
  border-top: none !important
.is-borderless-right
  border-right: none !important
.is-borderless-bottom
  border-bottom: none !important
.is-borderless-left
  border-left: none !important
.is-borderless-horizontal
  border-left: none !important
  border-right: none !important
.is-borderless-vertical
  border-bottom: none !important
  border-top: none !important

.is-shadowless
  box-shadow: none !important

.is-clickable
  cursor: pointer !important
  pointer-events: all !important

.is-unselectable
  @extend %unselectable
