@import "../utilities/mixins"

.is-overlay
  @extend %overlay

.is-relative
  position: relative !important

.is-sticky
  position: sticky
  top: 0
  z-index: 99
  &.is-sticky-bottom
    bottom: 1rem