@use "../utilities/mixins"

$displays: 'block' 'flex' 'inline' 'inline-block' 'inline-flex'

@each $display in $displays
  .is-#{$display}
    display: #{$display} !important
  +mixins.mobile
    .is-#{$display}-mobile
      display: #{$display} !important
  +mixins.tablet
    .is-#{$display}-tablet
      display: #{$display} !important
  +mixins.tablet-only
    .is-#{$display}-tablet-only
      display: #{$display} !important
  +mixins.touch
    .is-#{$display}-touch
      display: #{$display} !important
  +mixins.desktop
    .is-#{$display}-desktop
      display: #{$display} !important
  +mixins.desktop-only
    .is-#{$display}-desktop-only
      display: #{$display} !important
  +mixins.widescreen
    .is-#{$display}-widescreen
      display: #{$display} !important
  +mixins.widescreen-only
    .is-#{$display}-widescreen-only
      display: #{$display} !important
  +mixins.fullhd
    .is-#{$display}-fullhd
      display: #{$display} !important

.is-hidden
  display: none !important

.is-sr-only
  border: none !important
  clip: rect(0, 0, 0, 0) !important
  height: 0.01em !important
  overflow: hidden !important
  padding: 0 !important
  position: absolute !important
  white-space: nowrap !important
  width: 0.01em !important

+mixins.mobile
  .is-hidden-mobile
    display: none !important

+mixins.tablet
  .is-hidden-tablet
    display: none !important

+mixins.tablet-only
  .is-hidden-tablet-only
    display: none !important

+mixins.touch
  .is-hidden-touch
    display: none !important

+mixins.desktop
  .is-hidden-desktop
    display: none !important

+mixins.desktop-only
  .is-hidden-desktop-only
    display: none !important

+mixins.widescreen
  .is-hidden-widescreen
    display: none !important

+mixins.widescreen-only
  .is-hidden-widescreen-only
    display: none !important

+mixins.fullhd
  .is-hidden-fullhd
    display: none !important

.is-invisible
  visibility: hidden !important

+mixins.mobile
  .is-invisible-mobile
    visibility: hidden !important

+mixins.tablet
  .is-invisible-tablet
    visibility: hidden !important

+mixins.tablet-only
  .is-invisible-tablet-only
    visibility: hidden !important

+mixins.touch
  .is-invisible-touch
    visibility: hidden !important

+mixins.desktop
  .is-invisible-desktop
    visibility: hidden !important

+mixins.desktop-only
  .is-invisible-desktop-only
    visibility: hidden !important

+mixins.widescreen
  .is-invisible-widescreen
    visibility: hidden !important

+mixins.widescreen-only
  .is-invisible-widescreen-only
    visibility: hidden !important

+mixins.fullhd
  .is-invisible-fullhd
    visibility: hidden !important
