$dimensions: 16 24 32 48 64 96 128;

%image {
  display: block;
  position: relative;

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  // Ratio
  &%isSquare,
  &%is1by1,
  &%is4by3,
  &%is3by2,
  &%is16by9,
  &%is2by1 {
    img {
      @include overlay;

      height: 100%;
      width: 100%;
    }
  }

  &%isSquare,
  &%is1by1 {
    padding-top: 100%;
  }

  &%is4by3 {
    padding-top: 75%;
  }

  &%is3by2 {
    padding-top: 66.6666%;
  }

  &%is16by9 {
    padding-top: 56.25%;
  }

  &%is2by1 {
    padding-top: 50%;
  }

  // Sizes
  @each $dimension in $dimensions {
    &%is#{$dimension}x#{$dimension} {
      height: $dimension * 1px;
      width: $dimension * 1px;
    }
  }
}
