# Files
.DS_Store
.jekyll-metadata
_config.local.yml
_config.version.yml
bulma-test.sass
bulma-website-local.sass
css/bulma-test.css
css/bulma-docs.css.map
PUBLISHING.md
npm-debug.log

# Folders
.sass-cache
/bulma
/icons
/styles/node_modules
_site
