# Files

.DS_Store
.jekyll-metadata
_config.local.yml
_config.version.yml
_layouts/basic.html
_layouts/dev.html
bulma-test.css
bulma-test.sass
bulma-test.scss
bulma-website-local.sass
css/bulma-docs.css.map
css/bulma-test.css
npm-debug.log
PUBLISHING.md
test.html
test.sass
test.scss

# Folders

.jekyll-cache
.sass-cache
/bulma
/cypress/videos
/dev
/icons
/styles/node_modules
/versions
_site
