{
  "overrides": [
    {
      "files": "html",
      "options": { "parser": "liquid" }
    },
    {
      "files": "scss",
      "options": { "printWidth": 200 }
    }
  ],
  "plugins": ["@shopify/prettier-plugin-liquid"]
}
