@charset "utf-8"

@import "../bulma"
@import "./_sass/highlight"
@import "./_sass/override"
@import "./_sass/global"
@import "./_sass/index"
@import "./_sass/header"
@import "./_sass/footer"
@import "./_sass/specific"
@import "./_sass/example"
@import "./_sass/callout"
@import "./_sass/bsa"
@import "./_sass/route"

\:root
  --primary: #{$primary}
  --gap: 0.75rem

html
  \::-moz-selection
    background: $primary
    color: $primary-invert
  \::selection
    background: $primary
    color: $primary-invert

@debug "hsl(294, 71%, 79%)"
@debug colorLuminance(hsl(294, 71%, 79%))
@debug findColorInvert(hsl(294, 71%, 79%))
